secion
  .avatar: img(src="assets/images/me.jpg" alt="Сергей Рубец, front-end разработчик")
  .hero_text
    h1.hero_main-title Сергей Рубец
    h2.hero_title Личный сайт front-end разработчика
  include ../common/icon-down
